<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Learn to Code</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-indigo.min.css" />
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="/Users/Oixion/Documents/Coding/angular.min.js" charset="utf-8"></script>
  <script src="code.js" charset="utf-8"></script>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</head>

<body ng-app="app" ng-controller="appCtrl as ctrl">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Learn to code</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a ng-repeat="course in ctrl.courses" class="mdl-navigation__link" href="{{course.link}}">{{course.name}}</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Learn To Code</span>
      <nav class="mdl-navigation">
        <a ng-repeat="course in ctrl.courses" class="mdl-navigation__link" href="{{course.link}}">{{course.name}}</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <!-- Your content goes here -->
      </div>
    </main>
  </div>
</body>

</html>
