<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-indigo.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../index.css">
  <script src="/Users/Oixion/Documents/Coding/angular.min.js"></script>
  <script src="../code.js" charset="utf-8"></script>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</head>

<body ng-app="JavascriptLesson">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Learn to code</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <!--<a class="mdl-navigation__link" href="\lessons\html.html">Html</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\jquery.html">JQuery</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\angularjs.html">AngularJS</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\nodejs.html">NodeJS</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\python.html">Python</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\php.html">PHP</a>-->
          <!--<a class="mdl-navigation__link" href="\lessons\sql.html">SQL</a>-->
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Learn To code</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#basics">Basics</a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
        <a class="mdl-navigation__link" href="#"></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="page">
          <br>
          <h1 class="courseTitle">Javascript</h1>
          <div ng-controller="JavascriptController as jsControl">
            <ul ng-repeat="link in jsControl.lessons">
              <li class="JSlinks"><a href="#{{link.id}}">{{link.name}}</a></li>
            </ul>
            <div ng-repeat="section in jsControl.lessons">
              <h3 class="sectionTitle" id={{section.id}}>{{section.name}}</h3>
              <div ng-repeat="contents in section.contents">
                <h4 class="lessonTitle">{{contents.name}}</h4>
                <br>
                <p>
                  {{contents.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
